* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: "Bangers", system-ui;
    max-width: 100%;
    min-height: 100%;
    background-color: #d9b596;
}

/* Google Fonts */
.bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* Style for the container */
.container {
    display: grid;
    grid-template-rows: auto auto auto; /* 3 rows */
    gap: 20px; /* Space between rows */
    min-height: 100vh; /* Full height of the viewport */
    padding: 16px 60px;
    max-width: 100%;
}

/* Style for each section */
.section {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


/* ----------------------------------------------------------------------------- */


/* FIRST ROW WITH 2 COLUMNS */
.row-1 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 80px;
    margin: 0 auto;
    width: 100%;
}

/* Left Column */
/* ------------ */
/* Bio Details */
.bio p {
    font-size: 1rem;
    color: #333;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.5px;
    text-align: justify;
    text-transform: uppercase;
    line-height: 1.6;
}

/* Opening Details */
.bio, .opening-details {
    margin-bottom: 20px;
}

.opening-details p, .launch-date p {
    font-size: 1.4rem;
    color: #333;
    margin: 0; /* Removes default margins */
    letter-spacing: 2px;
}

/* Launch Dates */
.launch-date {
    margin-bottom: 12px;
}

.launch-date p {
    color: #bf3131;
}

/* Right Column: Main Logo */
.section-2 {
    display: flex;
    align-items: center;     /* vertical centering */
    justify-content: center; /* optional: horizontal centering */
    height: auto;
}

.section-2 img {
    max-width: 350px;
    mix-blend-mode: multiply;
    filter: contrast(1);
}


/* ----------------------------------------------------------------------------- */


/* SECOND ROW WITH TWO COLUMNS AND A VERTICAL DIVIDER */
.row-2 {
    background-color: #feeac9; /* Light beige */
    padding: 40px 50px;
    width: 100%;
    margin: 0 auto; /* Center the row horizontally */
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 100px;
    position: relative; /* To place the divider */
    color: #bf3131;
    height: auto;
}

.left-column, .right-column {
    width: 100%;
}

/* Vertical divider between columns */
.divider {
    position: absolute;
    top: 40px; /* Small space from the top */
    bottom: 40px; /* Small space from the bottom */
    left: 50%;
    width: 1px;
    background-color: #bf3131;
}

.row-2 h2 {
    font-size: 3rem;
    letter-spacing: 4.5px;
    margin: 25px 0;
}

.menu-section {
    display: grid;
    grid-template-columns: 1fr auto; /* One column for the item and one for the price */
    padding: 2px 0;
    font-size: 1rem;
}

.coffee-title, .matcha-title, .food-title {
    display: flex;
    align-items: center;
}

.coffee-image, .matcha-image, .paperbag-image {
    max-width: 88px;
    height: auto;
    mix-blend-mode: multiply;
    filter: contrast(1);
}

.coffee-image, .paperbag-image {
    margin-left: 20px;
}

.matcha-image {
    margin-right: 20px;
}

.coffee-image {
    transform: rotate(12deg);
}

.matcha-image {
    transform: rotate(-10deg);
}

.menu-price {
    text-align: right;
}

.menu-item, .menu-price, .food-menu p {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0;
    text-transform: uppercase;
}

.matcha-menu, .food-menu {
    margin-top: 20px;
}


/* ----------------------------------------------------------------------------- */


/* Third row with center-aligned items */
.row-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #bf3131;
    text-align: center;
}

.row-3 h3 {
    font-size: 2rem;
    margin: 25px auto;
}

.image-container {
    display: flex;
    gap: 20px; /* Adds space between the images */
    margin-top: 10px; /* Space between h3 and the images */
}
  
.image-container img {
    width: 120px; /* Adjust image width as necessary */
    height: auto; /* Keeps image aspect ratio */
}

.payment-image {
    mix-blend-mode: multiply;
    filter: contrast(1);
}

/* MIDDLE CONTENT BELOW LOGO */
.bottom-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.slogan p {
    color: #000;
    font-size: 1.2rem;
    margin: 0;
    letter-spacing: 2.5px;
}

/* Last section: Slogan & Instagram */
.instagram {
    margin-top: 30px;
    display: flex;
    align-items: center; /* Align icon and text horizontally */
    justify-content: center; /* Center the content */
    color: #333;
}

i.fa-instagram {
    font-size: 20px;
    height: auto;
    margin-right: 3px; /* Space between icon and text */
}

.instagram a {
    text-decoration: none;
}

.instagram a:visited {
    color: #333;
  }

.instagram p {
    font-size: 1.2rem;
    margin: 0; /* Remove margin around the text */
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}


/* MEDIA QUERIES */

@media (max-width: 768px) {
    .container {
        padding: 30px;
    }

    .section-2 img {
        width: 250px;
    }

    .row-1 {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .row-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;  /* Two equal columns */
        gap: 80px;  /* Adjust the gap between the columns so that it's align with the paddings */
        width: 100%;
        padding: 40px;
    }

    .row-2 h2 {
        font-size: 2rem;
    }

    .section-1, .section-2 {
        max-width: 100%;
    }
    
    .bio p {
        font-size: 0.7em; /* Reduced font size for tablet */
        line-height: 1.5;
        text-align: justify;
        text-align-last: center;
    }

    .opening-details p, .launch-date p {
        font-size: 1em; /* Reduced font size for tablet */
        text-align: center;
    }

    .section-2 {
        order: -1; /* Move the logo to the top */
    }

    .coffee-image, .matcha-image, .paperbag-image {
        width: 60px;
    }

    .row-3 h3 {
        font-size: 28px;
    }

    .image-container {
        flex-direction: column;
        align-items: center;
    }

    .bottom-content {
        font-size: 0.9rem;
    }
}

/* @media screen and (min-width: 321px) and (max-width: 573px) {
    .container {
      padding: 1rem;
      flex-direction: column;
    }
} */

@media (max-width: 390px) {
    .container {
        padding: 30px 10px;
        gap: 16px;
    }

    .row-1, .row-2 {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .bio p {
        font-size: 0.5em;
        text-align: justify;
        text-align-last: center;
    }

    .opening-details p, .launch-date p {
        font-size: 0.8em; /* Reduced font size for mobile */
        line-height: 1.2;
    }

    .section-1, .section-2 {
        width: 100%;
    }

    .section-2 {
        order: -1; /* This will move the logo to the top */
    }

    .section-2 img {
        max-width: 200px; /* Smaller logo */
    }

    .row-2 h2 {
        font-size: 30px; /* Smaller menu titles */
    }

    .menu-section, .food-menu p {
        font-size: 14px; /* Smaller font size for menu items */
        text-align: justify;
    }

    .coffee-image, .matcha-image, .paperbag-image {
        max-width: 60px; /* Smaller images */
        height: auto;
    }

    .divider {
        width: 0;
    }

    .row-3 h3 {
        font-size: 24px; /* Adjusted header size */
        margin: 20px auto;
    }

    .image-container img {
        width: 100px; /* Smaller QR and payment image */
    }

    .bottom-content {
        font-size: 0.9rem; /* Adjusted font size */
    }

    .payment-image {
        display: none;
    }

    .slogan p {
        font-size: 0.9rem; /* Smaller slogan text */
    }

    .instagram p {
        font-size: 1rem; /* Smaller Instagram text */
    }
}